# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# System
.DS_Store

# IntelliJ
.idea/
*.iml

# Maven
target/

# Logs
*.log


